body{
    background-color: rgb(46, 87, 141);
}
h1{

    text-align: center;
}
table{
    text-align: center;
    color: purple;
    width: 500px;
    height: 20px;
    margin: auto;
    border-radius: 20px;
    
}
th{
background-color: skyblue;
padding: 10px;
margin: 10px;

}

tr{
    background-color: rgb(14, 235, 198);
    border-radius: 10px;
}

.para1{
    text-align: justify;
}
.img1{
    float: right;
  padding: 0px;
    margin: 0px;
    text-align: right;
    height: 200px;
    width: 150px;
}
nav{
    float: right;
    margin: 100px;
    padding: 10px;
    background-color: salmon;
    border-radius: 0px;
    
}